.gostack-components-textarea {
      background: var(--bg-surface-elevated);
      border: 1px solid var(--border-color);
      padding: 12px;
      color: white;
      border-radius: var(--radius-md);
      outline: none;
    }