.gostack-components-footer {
      padding: 24px;
      background: var(--bg-surface-elevated);
      border-top: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 13px;
    }