.gostack-components-table {
      width: 100%;
      border-collapse: collapse;
      font-size: 14px;
    }
    .gostack-components-table th, .gostack-components-table td {
      border-bottom: 1px solid var(--border-color);
      padding: 12px;
      text-align: left;
    }