.gostack-components-header {
      width: 100%;
      padding: 16px;
      background: var(--bg-surface-elevated);
      border-bottom: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
    }